* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0;
  font-family: Arial;
  text-decoration: none;
}


header {
    font-family: "Raleway", sans-serif;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    font-size: 35px;
    color: #000000;
}
/* Style tab links */
.tablink {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  background-color: #363636;
  color: #ffffff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  font-family: "Raleway", sans-serif;
  color: #000000;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: #ffffff;}
#News {background-color: #ffffff;}
#Contact {background-color: #ffffff;}
#About {background-color: #ffffff;}